node_modules/
dist/
data/
draft/
.env
.env.testing
.env.mainnet01
.env.testnet04
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform.plan
.github/workflows/.artifacts/
.vercel
indexer/indexer
.cursor
indexer/tests/logs/*
indexer/tests/integration/api-parity/logs/*
